<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>PoMoc</title>

    <link rel="shortcut icon" href="img/favicon.png" />
    <meta name="description" content=""/>

    <link href="/css/preload.css" rel="stylesheet"/>
    <link href="/css/vendors.css" rel="stylesheet"/>
    <link href="/css/syntaxhighlighter/shCore.css" rel="stylesheet" />
    <link href="/css/style-blue.css" rel="stylesheet" title="default"/>
    <link href="/css/width-full.css" rel="stylesheet" title="default"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<div th:replace="fragments/header :: preloader"></div>

<body>
<div id="sb-site">
    <div class="boxed">

        <header th:replace="fragments/header :: header"></header>
        <nav th:replace="fragments/header_elements :: main_menu "></nav>

        <header class="main-header">
            <div class="container">
                <h1 class="page-title">Blog</h1>

                <ol class="breadcrumb pull-right">
                    <!--      <li><a href="#">Usługi</a></li>
                    <li><a href="#">O mnie</a></li> -->
                    <li class="active">Blog</li>
                </ol>
            </div>
        </header>


        <div class="container">
            <div class="row">
                <article class="post animated fadeInDown animation-delay-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="post-title"><a href="blog/1" class="transicion" style="font-family: Helvetica">
                                Na sam początek jak możemy rozumieć cele terapii  </a></h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/blog/blog1_1.jpg" class="img-responsive imageborder" alt="Image"/>
                                </div>
                                <div class="col-md-6" style="font-family: Helvetica">
                                    <p><strong>Do głównych celów terapii zwykle zaliczamy:</strong></p>
                                    <p>- <strong>ustąpienie lub złagodzenie objawów, z powodu których osoba zgłosiła się na terapię</strong>
                                    </p>
                                    <p>- <strong>nazwanie</strong> wcześniej bezimiennych smutków takich jak <strong>okoliczności życiowych,
                                        których zmienić nie można</strong> - utrata bliskich, rozwód, opieka nad chorą osobą
                                        lub własna choroba, <strong>by je zaakceptować i nauczyć się adaptacji</strong> do danych
                                        okoliczności i ograniczeń z nimi związanych</p>
                                    <p>- <strong>wgląd</strong> – Posiadanie wglądu jest to adekwatne zrozumienie swoich osobistych
                                        doświadczeń z przeszłości oraz realistyczna ocena własnych motywów
                                        i okoliczności życiowych.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-4">
                                    <i class="fa fa-clock-o"></i> 29 listopada 2016 <i class="fa fa-user"> </i>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <a href="#" class="pull-right">Czytaj więcej &raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article> <!-- post -->
            </div>
        </div>

        <aside th:replace="fragments/footer :: footer_widgets"></aside>

        <footer th:replace="fragments/footer :: footer"></footer>

    </div> <!-- boxed -->
</div> <!-- sb-site -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div th:replace="fragments/footer :: linkt_top"></div>


<script src="js/vendors.js"></script>
<script src="js/syntaxhighlighter/shCore.js"></script>
<script src="js/syntaxhighlighter/shBrushXml.js"></script>
<script src="js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="js/app.js"></script>
<script src="js/home_profile.js"></script>
<div th:replace="fragments/analytics :: analytics"></div>
</body>

</html>

