<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="admin/fragments/head :: head"></head>

<body class="">

<header th:replace="admin/fragments/header :: header"></header>
<aside th:replace="admin/fragments/menu :: admin_menu "></aside>

<div id="main" role="main">

    <div id="ribbon">
        <span th:replace="admin/fragments/ribbon :: ribbon_button"></span>
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Home</li>
            <li th:text="#{admin.add.data.title}"></li>
            <li th:text="#{admin.add.data.client.title}"></li>
        </ol>
    </div>

    <!--
    email
    imie
    nazwisko
    telefon
    miasto
    -->

    <div id="content">
        <!-- row -->
        <section id="widget-grid" class="">
            <div class="row">

                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-6">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Dodanie klienta </h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <form class="smart-form" role="form" action="#" th:action="@{/admin/addClient}" th:object="${form}" method="post">
                                    <header>
                                        Dane klienta
                                    </header>

                                    <fieldset>

                                        <section>
                                            <label class="label">E-mail</label>
                                            <label class="input">
                                                <input type="text" maxlength="50" th:field="*{email}"/>
                                            </label>
                                            <label style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</label>
                                        </section>

                                        <section>
                                            <label class="label">Imię</label>
                                            <label class="input">
                                                <input type="text" maxlength="50" th:field="*{name}"/>
                                            </label>
                                            <label style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</label>
                                        </section>

                                        <section>
                                            <label class="label">Nazwisko</label>
                                            <label class="input">
                                                <input type="text" maxlength="50" th:field="*{surname}" />
                                            </label>
                                            <label style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</label>
                                        </section>

                                        <section>
                                            <label class="label">Telefon</label>
                                            <label class="input">
                                                <input type="text" maxlength="50" th:field="*{phone}"/>
                                            </label>
                                            <label style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Error</label>
                                        </section>

                                        <section>
                                            <label class="label">Miasto</label>
                                            <label class="input">
                                                <input type="text" maxlength="50" th:field="*{city}"/>
                                            </label>
                                            <label style="color: red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Error</label>
                                        </section>
                                    </fieldset>

                                    <footer>
                                        <button type="submit" class="btn btn-primary">
                                            Zapisz
                                        </button>
                                        <button type="button" class="btn btn-default" onclick="window.history.back();">
                                            Confnij
                                        </button>
                                    </footer>
                                    </form>
                                </div>
                </div>
                        </div>
                    </article>
                </div>

            </section>

    </div>

</div>


<div th:replace="admin/fragments/footer :: footer"></div>
<div th:replace="admin/fragments/scripts :: scripts"></div>

</body>
</html>