<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>PoMoc</title>

    <link rel="shortcut icon" href="img/favicon.png" />
    <meta name="description" content=""/>

    <link href="css/preload.css" rel="stylesheet"/>
    <link href="css/vendors.css" rel="stylesheet"/>
    <link href="css/syntaxhighlighter/shCore.css" rel="stylesheet" />
    <link href="css/style-blue.css" rel="stylesheet" title="default"/>
    <link href="css/width-full.css" rel="stylesheet" title="default"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<div th:replace="fragments/header :: preloader"></div>

<body>
<div id="sb-site">
    <div class="boxed">

        <header th:replace="fragments/header :: header"></header>
        <nav th:replace="fragments/header_elements :: main_menu "></nav>

        <header class="main-header">
            <div class="container">
                <h1 class="page-title">Kim jestem</h1>

                <ol class="breadcrumb pull-right">
                    <!--      <li><a href="#">Usługi</a></li> -->
                         <li><a href="#">O mnie</a></li>
                    <li class="active">Kim jestem</li>
                </ol>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <div class="panel panel-default  animated fadeInDown animation-delay-8">
                            <div class="panel-body">
                                <div class="clearfix"></div>
                                <img src="img/DSC_8008.jpg" alt="" class="alignleft imageborder" />
                                <p class="no-margin-top">Od 2014 pracuję jako psycholog. W 2010 uzyskałam tytuł magistra psychologii, o specjalizacji penitencjarno-sądowej na Uniwersytecie Gdańskim,
                                    w Instytucie Psychologii. W 2015 ukończyłam studia doktoranckie na Wydziale Nauk Społecznych w Gdańsku.</p>
                                <p>Terapię prowadzę w nurcie skoncentrowanym na rozwiązaniu łącząc ją z poznawczo-behawioralną koncepcją terapii schematów.
                                    Dbam, by wykonywana przeze mnie praca przynosiła jak najwięcej korzyści osobom poszukującym u mnie pomocy. Stale podnoszę swoje kwalifikacje zawodowe;
                                    uczestniczę w szkoleniach, konferencjach, stażach.</p>
                                <p>Swoją pracę superwizuję w dbałości o sposób i efekty prowadzonej terapii z moimi klientami.</p>
                                <p>Dotychczasowy dorobek naukowy skupiający się głównie na kwestii sposobów kształtowania się poczucia sensu życia w sytuacji kryzysu,
                                    zawiera 3 rozdziały w książkach i podręcznikach, 7 publikacji naukowych w tym - 5 w języku angielskim do czasopism zagranicznych.  Ponadto by stale podnosić swoje
                                    kompetencje jako psycholog brałam udział, jako referent, w 15 międzynarodowych konferencjach oraz kongresach, między innym we Włoszech, Szwajcarii i RPA.
                                    Ponadto pracowałam jako nauczyciel akademicki na Wydziale Nauk Społecznych Uniwersytetu Gdańskiego (2011-2015) oraz kontynuuję pracę na tym stanowisku w Wyższej Szkole Bezpieczeństwa
                                    w Gdańsku.</p>
                                <p>Jestem aktywnym członkiem Polskiego Towarzystwa Psychologii Religi i Duchowości oraz International Association for the Psychology of Religion,
                                    co pozwala stale podnosić kwalifikacje zawodowe jako badacz psychologii.</p>

                                <div class="clearfix"></div>
                            <!--    <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a> -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <aside th:replace="fragments/footer :: footer_widgets"></aside>

        <footer th:replace="fragments/footer :: footer"></footer>

    </div> <!-- boxed -->
</div> <!-- sb-site -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div th:replace="fragments/footer :: linkt_top"></div>


<script src="js/vendors.js"></script>
<script src="js/syntaxhighlighter/shCore.js"></script>
<script src="js/syntaxhighlighter/shBrushXml.js"></script>
<script src="js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="js/app.js"></script>
<script src="js/home_profile.js"></script>

</body>

</html>

