<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>PoMoc</title>

    <link rel="shortcut icon" href="img/favicon.png" />
    <meta name="description" content=""/>

    <link href="css/preload.css" rel="stylesheet"/>
    <link href="css/vendors.css" rel="stylesheet"/>
    <link href="css/syntaxhighlighter/shCore.css" rel="stylesheet" />
    <link href="css/style-blue.css" rel="stylesheet" title="default"/>
    <link href="css/width-full.css" rel="stylesheet" title="default"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<div th:replace="fragments/header :: preloader"></div>

<body>
<div id="sb-site">
    <div class="boxed">

        <header th:replace="fragments/header :: header"></header>
        <nav th:replace="fragments/header_elements :: main_menu "></nav>

        <header class="main-header">
            <div class="container">
                <h1 class="page-title">Kim jestem</h1>


            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="clearfix"></div>
                                <img src="img/DSC_8008.jpg" alt="" class="alignleft imageborder" />
                                <p class="no-margin-top">
                                    Terapię prowadzę w nurcie psychoanalitycznym, obecnie szkolę się w Ośrodku Psychoterapii Psychoanalitycznej Trójmiasto. Ważne jest dla mnie by praca, którą wykonuje przynosiła korzyść osobom poszukającym pomocy, stąd stale podnoszę swoje kwalifikacje zawodowe: uczestniczę w szkoleniach, konferencjach, stażach.
                                    W trosce o efektywność prowadzonej przeze mnie terapii, swoją pracę superwizuję.
                                </p>
                                <p>
                                    Uzyskałam tytuł magistra psychologii w 2010 roku na Wydziale Nauk Społecznych – Uniwersytetu Gdańskiego, kontynuowałam edukację kończąc studia doktoranckie na tym samym wydziale w 2015 roku. Od wielu lat należę do International Association for The Psychology of Religion oraz Polskiego Towarzystwa Psychologii Religii i Duchowości.
                                </p>

                                <p>
                                    Doświadczenie w pracy z pacjentami zdobywałam w wielu trójmiejskich placówkach, między innymi: Świetlica Środowiskowa „Caritas” Gdańsk, Oddział Dzienny Szpitala Psychiatrycznego w Gdańsku, Zespół Placówek Specjalistycznych w Gdyni.
                                </p>

                                <div class="clearfix"></div>
                            <!--    <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a> -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <aside th:replace="fragments/footer :: footer_widgets"></aside>

        <footer th:replace="fragments/footer :: footer"></footer>

    </div> <!-- boxed -->
</div> <!-- sb-site -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div th:replace="fragments/footer :: linkt_top"></div>


<script src="js/vendors.js"></script>
<script src="js/syntaxhighlighter/shCore.js"></script>
<script src="js/syntaxhighlighter/shBrushXml.js"></script>
<script src="js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="js/app.js"></script>
<script src="js/home_profile.js"></script>
<div th:replace="fragments/analytics :: analytics"></div>
</body>

</html>

