<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>PoMoc</title>

    <link rel="shortcut icon" href="img/favicon.png" />
    <meta name="description" content=""/>

    <link href="css/preload.css" rel="stylesheet"/>
    <link href="css/vendors.css" rel="stylesheet"/>
    <link href="css/syntaxhighlighter/shCore.css" rel="stylesheet" />
    <link href="css/style-blue.css" rel="stylesheet" title="default"/>
    <link href="css/width-full.css" rel="stylesheet" title="default"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<div th:replace="fragments/header :: preloader"></div>

<body>
<div id="sb-site">
    <div class="boxed">

        <header th:replace="fragments/header :: header"></header>
        <nav th:replace="fragments/header_elements :: main_menu "></nav>

        <header class="main-header">
            <div class="container">
                <h1 class="page-title">Biogram</h1>

                <ol class="breadcrumb pull-right">
                    <!--      <li><a href="#">Usługi</a></li> -->
                         <li><a href="#">O mnie</a></li>
                    <li class="active">Biogram</li>
                </ol>
            </div>
        </header>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <div class="panel panel-default  animated fadeInDown animation-delay-8">
                            <div class="panel-body">
                                <h3 class="section-title no-margin-top">Janina Nowak <small class="pull-right">Psycholog psychoterapeuta</small><div class="clearfix"></div></h3>
                                <div class="clearfix"></div>
                                <img src="assets/img/demo/t1.jpg" alt="" class="alignleft imageborder" />
                                <p class="no-margin-top"> Janina Nowak uzyskała w 2010 tytuł magistra psychologii, o specjalizacji penitencjarno-sądowej na Uniwersytecie Gdańskim, w Instytucie Psychologii. W 2014 ukończyła studia doktoranckie na Wydziale Nauk Społecznych w Gdańsku. Kompetencje terapeutyczne uzyskała w ramach I i II stopień szkolenia w Centrum Terapii Skoncentrowanej na Rozwiązaniach.</p>
                                <p>Prowadzi indywidualne i grupowe sesje psychoterapeutyczne, warsztaty rozwojowo-edukacyjne, a także konsultacje psychologiczne i psychoterapię przez Internet (online), dla osób stojących w obliczu różnych problemów emocjonalnych i behawioralny. Zajmuje się terapią osób dorosłych oraz dzieci doświadczających różnego rodzaju trudności życiowych (depresja, lęki, uzależnienie, a także problemy rodzinne, przemoc domowa, wydarzenia traumatyczne).
                                </p>
                                <p>Dorobek naukowy, zawiera 3 rozdziały w książkach i podręcznikach, 7 publikacji naukowych w tym - 5 w języku angielskim do czasopism zagranicznych. Aktywność na polu naukowym to również udział, jako referent, w 15 międzynarodowych konferencjach oraz kongresach, między innym we Włoszech, Szwajcarii i RPA.
                                </p>
                                <p>Praca na przestrzeni życia akademickiego na  Wydziału Nauk Społecznych Uniwersytetu Gdańskiego, to od 2011 prowadzenie zajęć na kierunku psychologia oraz w Wyższej Szkole Bezpieczeństwa dla studentów.
                                </p>
                                <p>Na polu działalności naukowej, realizowała badania z zespołem badaczy z zakresu - ekwiwalentności metodologicznej testów internetowych i papierowych. W 2014 roku, nawiązałam współpracę z pracownikami Politechniki Koszalińskiej, wraz z którymi tworzę zespół  pracujący  nad zagadnieniem psychospołecznych korelatów predyspozycji zawodowych projektantów oprogramowania. Od 2015 jest częścią projektu badawczego, testującego zmienne psychospołeczne i sytuacyjne wpływające na jakość oprogramowania, stworzonego wspólnie  z programistami z Uniwersytetu Warszawskiego oraz Politechniki Gdańskiej. Natomiast w marcu 2015 ukończyła kurs „Zaawansowana analiza danych zastanych w obszarze edukacji” realizowanym na Wydziale Nauk Społecznych Uniwersytetu Gdańskiego, którego opiekunem naukowym jest Prof. dr hab. Roman Konarski.</p>
                                <p>Jest aktywnym członkiem Polskiego Towarzystwa Psychologii Religi i Duchowości oraz International Association for the Psychology of Religion, co pozwala stale podnosić  kwalifikacje zawodowe jako badacz psychologii.</p>
                                <div class="clearfix"></div>
                            <!--    <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a> -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <aside th:replace="fragments/footer :: footer_widgets"></aside>

        <footer th:replace="fragments/footer :: footer"></footer>

    </div> <!-- boxed -->
</div> <!-- sb-site -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div th:replace="fragments/footer :: linkt_top"></div>


<script src="js/vendors.js"></script>
<script src="js/syntaxhighlighter/shCore.js"></script>
<script src="js/syntaxhighlighter/shBrushXml.js"></script>
<script src="js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="js/app.js"></script>
<script src="js/home_profile.js"></script>

</body>

</html>

