<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>PoMoc</title>

    <link rel="shortcut icon" href="img/favicon.png" />
    <meta name="description" content=""/>

    <link href="css/preload.css" rel="stylesheet"/>
    <link href="css/vendors.css" rel="stylesheet"/>
    <link href="css/syntaxhighlighter/shCore.css" rel="stylesheet" />
    <link href="css/style-blue.css" rel="stylesheet" title="default"/>
    <link href="css/width-full.css" rel="stylesheet" title="default"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<div th:replace="fragments/header :: preloader"></div>

<body>
<div id="sb-site">
    <div class="boxed">

        <header th:replace="fragments/header :: header"></header>
        <nav th:replace="fragments/header_elements :: main_menu "></nav>

        <header class="main-header">
            <div class="container">
                <h1 class="page-title">Psychoterapia indywidualna</h1>

                <ol class="breadcrumb pull-right">
                    <li><a href="#">Usługi</a></li>
                    <li><a href="#">PoMoc bezpośrednia</a></li>
                    <li class="active">Psychoterapia indywidualna</li>
                </ol>
            </div>
        </header>


        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dla kogo?</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Dla osób które, czują, że doświadczane przez nich trudności życiowe przerastają ich i nie są  w stanie same sobie z nimi skutecznie poradzić. Konsekwencje tych trudności rozpoznajmy w gdy miedzy innymi zbyt długo towarzyszy nam  utrzymujący się smutek, zmęczenie czy zniechęcenie, które  utrudniają funkcjonowanie w codziennych sytuacjach życiowych.</li>
                                <li>Dla osób, których dotychczasowe sposoby i rozwiązania stają się nieskuteczne, mogą być źródłem problemów, zaś nasze najbliższe otoczenie nie potrafi ich wspomóc.</li>
                                <li>Dla osób, które doświadczają zachowań ,  uczuć czy myśli, które utrudniają ich funkcjonowanie codzienne. Nie mogą odnaleźć w sobie motywacji do przeprowadzenia planowanych zmian, które doprowadziłby do polepszenia ich jakości życia.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Jak to wygląda?</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Psychoterapia jest formą spotkania z psychoterapeutą w atmosferze poufności oraz koncentracji na polepszeniu sytuacji klienta lub jego sposobu przeżywania sytuacji w której obecnie się znajduje. To klient jest osobą, która decyduje o czasie trwania, tempie pracy oraz celach terapii, zaś rolą terapeuty jest pomoc w dookreśleniu celów, sposobów ich realizacji oraz stanie na ich straży. Terapeuta jest aktywnym słuchaczem, pomagającym poprzez różne technik, w realizacji celów oraz potrzeb klienta. Psychoterapia może mieć charakter krótko lub długoterminowy, w zależności od wielkości obszaru zmiany, której oczekuje klient.</li>
                                <li>Schemat spotkań terapeutycznych w procesie psychoterapii:</li>
                                    <ul>
                                        <li>Etap 1/ Konsultacja – to pierwszy kontakt z terapeutą, sesja podczas której klient, przedstawia swoje oczekiwania wobec terapii jak i terapeuty. Następnie wspólnie o ile zdecydują się na wspólna pracę, badają wspólnie obszary życia klienta, którymi objęta ma być zmiana, dookreślenie czasu trwania terapii oraz jej formy.</li>
                                        <li>Etap 2/ Regularne spotkania psychoterapeutyczne – podczas nich klient wraz terapeutą, realizują kolejne elementy celów oraz pracują nad realizacja potrzeb klienta, które są podstawą wyznaczanych przez klienta wobec siebie zdań rozwojowych. </li>
                                        <li>Etap 3/ zakończenie terapii – Jest to czas w terapii, w której klient, czuje, że zrealizował swoje założenia, czuje pozytywne emocje lub obserwuje trwałą zmianę nawyków czy sposobów myślenia związanymi z wyznaczanymi celami podczas regularnych spotkań terapeutycznych.</li>
                                    </ul>
                                <li>Czas trwania spotkania to 60 minut.</li>
                                <li>Sesje przeprowadzane są zgodnie z kodeksem zawodu psychologa, zapewniam o pełnej i absolutnej dyskrecji spraw, które są mi powierzane w trakcie spotkań. W swojej pracy opieram się na doświadczeniu i profesjonalnym przygotowaniu nie tracąc indywidualnego podejścia do każdej osoby</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4 hidden-sm hidden-xs pricing-col">
                    <div class="pricing-table pricing-table-description">
                        <div class="pricing-table-head ">
                            <h3 class="pricing-desc-title">Cena za sesję</h3>
                        </div>

                    </div>
                </div>
                <div class="col-md-2 pricing-col">
                    <div class="pricing-table">
                        <div class="pricing-table-head">
                            <h2>
                                50 minut
                            </h2>
                            <h3 class="price">
                                100zł
                                <span class="hidden-md hidden-lg"></span>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <aside th:replace="fragments/footer :: footer_widgets"></aside>

        <footer th:replace="fragments/footer :: footer"></footer>

    </div> <!-- boxed -->
</div> <!-- sb-site -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div th:replace="fragments/footer :: linkt_top"></div>


<script src="js/vendors.js"></script>
<script src="js/syntaxhighlighter/shCore.js"></script>
<script src="js/syntaxhighlighter/shBrushXml.js"></script>
<script src="js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="js/app.js"></script>
<script src="js/home_profile.js"></script>

</body>

</html>

