<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>PoMoc</title>

    <link rel="shortcut icon" href="img/favicon.png" />
    <meta name="description" content=""/>

    <link href="css/preload.css" rel="stylesheet"/>
    <link href="css/vendors.css" rel="stylesheet"/>
    <link href="css/syntaxhighlighter/shCore.css" rel="stylesheet" />
    <link href="css/style-blue.css" rel="stylesheet" title="default"/>
    <link href="css/width-full.css" rel="stylesheet" title="default"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<div th:replace="fragments/header :: preloader"></div>

<body>
<div id="sb-site">
    <div class="boxed">

        <header th:replace="fragments/header :: header"></header>
        <nav th:replace="fragments/header_elements :: main_menu "></nav>

        <header class="main-header">
            <div class="container">
                <h1 class="page-title">Psychoterapia grupowa</h1>

                <ol class="breadcrumb pull-right">
                    <li><a href="#">Usługi</a></li>
                    <li><a href="#">PoMoc bezpośrednia</a></li>
                    <li class="active">Psychoterapia grupowa</li>
                </ol>
            </div>
        </header>


        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dla kogo?</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Jak to wygląda?</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4 hidden-sm hidden-xs pricing-col">
                    <div class="pricing-table pricing-table-description">
                        <div class="pricing-table-head ">
                            <h3 class="pricing-desc-title">Cena za sesję</h3>
                        </div>

                    </div>
                </div>
                <div class="col-md-2 pricing-col">
                    <div class="pricing-table">
                        <div class="pricing-table-head">
                            <h2>
                                E-mail
                            </h2>
                            <h3 class="price">
                                79zł
                                <span class="hidden-md hidden-lg"></span>
                            </h3>
                        </div>

                    </div>
                </div>
                <div class="col-md-2 pricing-col">
                    <div class="pricing-table">
                        <div class="pricing-table-head">
                            <h2>
                                Skype
                            </h2>
                            <h3 class="price">
                                89zł
                                <span class="hidden-md hidden-lg"></span>
                            </h3>
                        </div>

                    </div>
                </div>
                <div class="col-md-2 pricing-col">
                    <div class="pricing-table">
                        <div class="pricing-table-head">
                            <h2>
                                Czat
                            </h2>
                            <h3 class="price">
                                89zł
                                <span class="hidden-md hidden-lg"></span>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <aside th:replace="fragments/footer :: footer_widgets"></aside>

        <footer th:replace="fragments/footer :: footer"></footer>

    </div> <!-- boxed -->
</div> <!-- sb-site -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div th:replace="fragments/footer :: linkt_top"></div>


<script src="js/vendors.js"></script>
<script src="js/syntaxhighlighter/shCore.js"></script>
<script src="js/syntaxhighlighter/shBrushXml.js"></script>
<script src="js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="js/app.js"></script>
<script src="js/home_profile.js"></script>

</body>

</html>

