<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>PoMoc</title>

    <link rel="shortcut icon" href="img/favicon.png" />
    <meta name="description" content=""/>

    <link href="css/preload.css" rel="stylesheet"/>
    <link href="css/vendors.css" rel="stylesheet"/>
    <link href="css/syntaxhighlighter/shCore.css" rel="stylesheet" />
    <link href="css/style-blue.css" rel="stylesheet" title="default"/>
    <link href="css/width-full.css" rel="stylesheet" title="default"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<div th:replace="fragments/header :: preloader"></div>

<body>
<div id="sb-site">
    <div class="boxed">

        <header th:replace="fragments/header :: header"></header>
        <nav th:replace="fragments/header_elements :: main_menu "></nav>

        <header class="main-header">
            <div class="container">
                <h1 class="page-title">W gabinecie</h1>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="clearfix"></div>

                                <p class="no-margin-top"></p>

                                <div class="clearfix"></div>

                                <p style="font-weight: bold">Co się dzieje w gabinecie?</p>


                                <p>Podczas sesji psychoanalitycznej siadasz w fotelu naprzeciw psychoterapeuty, już na wstępie czujesz, że nie jest to codzienne spotkanie.
                                    Psychoterapeuta czeka zawsze na Ciebie o określonej godzinie, jesteś z nim w kontakcie tylko podczas sesji, a co bardzo ważne, niewiele mówi o sobie samym. Dzieje się tak ponieważ psychoterapeuta stanie się dla Ciebie ekranem, na który będziesz jak projektor „rzutował” swój wewnętrzny świat. Z czasem zaczynasz widzieć i reagować na niego w sposób dla siebie właściwy wynikający często z twoich wcześniejszych doświadczeń z ludźmi. Wzbudzane podczas sesji uczucia oraz myśli wobec psychoanalityka podobne są do tego jak zniekształcamy obrazy innych osób na co dzień, co jest powodem naszych kłopotów w relacjach i źródłem cierpienia psychicznego. Rozpoznanie tych wzorców, zrozumienie ich funkcji, a przez to obniżenie lęku to fundament pracy psychoanalitycznej w gabinecie abyś zyskał pełniejszy obraz siebie, zewnętrznej rzeczywistości, a także wytworzył zdolności do autorefleksji.
                                </p>

                                <p style="font-weight: bold">Jak to działa?</p>

                                <p>
                                    Terapii psychoanalitycznej zwykle nie prowadzi się w sposób dyrektywny, terapeuta nie będzie udzielał Ci rad, ani
                                    wyznaczał zadań do wykonania. Będzie się zajmował przejawami nieświadomych pragnień, opisywał je i pomagał je wydobyć poprzez
                                    dowolność wypowiedzi, tematów i pojawiających się skojarzeń.
                                    Powściagliwa aktywność psychoanalityka ma obniżyć wpływ jego cech osobistych na twoje zachowanie, czyli sprzyjać pojawieniu
                                    się przeniesienia. Przeniesienie to taka operacja, która polega na uruchamianiu się nieświadomych potrzeb wobec ważnych postaci
                                    z naszej przeszłości. Podczas sesji psychoanalitycznej te oczekiwania są „włączane”, przez to wzorce wcześniejsze (normalnie
                                    znajdujące się w sferze nieświadomej) są teraz przeżywane w teraźniejszości. Pojawienie się przeniesienia to pierwszy krok do
                                    poprawy, kolejny to zrozumienie źródeł i skutków tego przeniesienia. W tym ma pomóc interpretacja, czyli opis tego jak widzi,
                                    rozumie twoje zachowanie psychoterapeuta. Interpretacja jest ważna, bo polega na wydobywanie utajonego sensu w tym co robisz
                                    i mówisz.
                                    Pojawienie się przeniesienia i uważna interpretacja ma prowadzić do polepszania życia, jednak kłopot w tym, że jesteśmy często
                                    przywiązani do naszych schematów. Choć oczywiście chcemy czuć się lepiej i to jak najszybciej, to coś nas paradoksalnie przed
                                    tym powstrzymuje. Hamuje przed poznaniem siebie samych z różnych perspektyw… To tak zwany opór, który jest bardzo częstym
                                    zjawiskiem. Poznawanie dotychczas ukrytych lub ukrywanych myśli budzi w nas przeróżne odczucia wstydu, winy, lęku.
                                    Przeczuwamy, że ujawnienie tych myśli, uczuć wiązałoby się z tym, że coś złego mogłoby się wydarzyć. Jednak terapeuta
                                    rozpozna opór - pomoże Ci odpowiedzieć na pytanie czego, jak i po co chronisz, czyli pozwoli Ci by korzystać z jego obecności
                                    w sposób produktywny.
                                </p>

                                <p style="font-weight: bold">Jaki jest cel psychoterapii?</p>
                                <p>
                                    Celem psychoanalizy jest rozwoj twojej osobowości, pozwalający na lepsze funkcjonowanie. Ma ona pomóc trafnie oceniać
                                    rzeczywistość, poprzez wspieranie wyrażania uczuć i jednoczesną zdolność do myślenia o sobie samym i swoich relacjach.
                                    To co oferuje terapia psychoanalityczna to zmiana sposobu życia. Widzisz więc, że zniesienie objawów to tylko jeden
                                    z skutków psychoterapii psychoanalitycznej.
                                </p>
                                <p>
                                    By to wszystko było możliwe jest potrzebny czas. Terapia rzadko jest krótkoterminowa, dlatego wymaga od Ciebie motywacji do zmagań,
                                    ale i pewnej dozy cierpliwości Zmiana wymaga po prostu czasu, bo walka z siłą raz po raz aktywnie działającą na rzecz utrzymania
                                    status quo czasem wydaje się nieskończona. Wizyty w gabinecie podczas których odczuwasz, analizujesz sprawiają, że cierpienie
                                    psychiczne ustępuje a Ty zyskujesz coraz bardziej rozległą autonomię w swoim funkcjonowaniu.
                                </p>

                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>

        <aside th:replace="fragments/footer :: footer_widgets"></aside>

        <footer th:replace="fragments/footer :: footer"></footer>

    </div> <!-- boxed -->
</div> <!-- sb-site -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div th:replace="fragments/footer :: linkt_top"></div>


<script src="js/vendors.js"></script>
<script src="js/syntaxhighlighter/shCore.js"></script>
<script src="js/syntaxhighlighter/shBrushXml.js"></script>
<script src="js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="js/app.js"></script>
<script src="js/home_profile.js"></script>
<div th:replace="fragments/analytics :: analytics"></div>
</body>

</html>

